@font-face {
  font-family: "iconfont"; /* Project id 3166934 */
  src: url('iconfont.woff2?t=1643554411420') format('woff2'),
       url('iconfont.woff?t=1643554411420') format('woff'),
       url('iconfont.ttf?t=1643554411420') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lanmu1:before {
  content: "\e601";
}

.icon-lanmu:before {
  content: "\e61c";
}

.icon-youjiantou:before {
  content: "\e680";
}

.icon-yunying:before {
  content: "\e67d";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-yonghu:before {
  content: "\e64a";
}

.icon-zhujiao:before {
  content: "\e621";
}

.icon-fapiao:before {
  content: "\e932";
}

.icon-yingxiao:before {
  content: "\e765";
}

.icon-jiaoxuepingjia:before {
  content: "\e65c";
}

.icon-icon_website_huabanfuben:before {
  content: "\e6cf";
}

.icon-tubiao_qudao:before {
  content: "\e63a";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-ren:before {
  content: "\e619";
}

.icon-qianqian:before {
  content: "\e655";
}

.icon-css:before {
  content: "\e63b";
}

.icon-html:before {
  content: "\e65a";
}

.icon-js:before {
  content: "\e65d";
}

.icon-dingdanyichenggong:before {
  content: "\e899";
}

.icon-gouwuche:before {
  content: "\e89a";
}

.icon-gongnengdingyi:before {
  content: "\ebb7";
}

.icon-xiaoxi:before {
  content: "\e615";
}

.icon-HTML:before {
  content: "\e87d";
}

.icon-qianduankaifa:before {
  content: "\e629";
}

.icon-python:before {
  content: "\e616";
}

.icon-yidongduan:before {
  content: "\e653";
}

.icon-java:before {
  content: "\e6e0";
}

.icon-vuejs:before {
  content: "\e7d1";
}

.icon-react:before {
  content: "\ec1a";
}

