.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 4.267vw 0 3.2vw 0;
    width: 100%;
    height: 12.533vw;
    background-color: #fff;
}

.header span:nth-child(1) {
    margin: 0 33.067vw 0 4.533vw;
}

.header span:nth-child(2) {
    font-size: 4.8vw;
    color: #101010;
}

.back::before {
    font-size: 4.8vw;
    color: #101010;
}


/* info satrt */

.info {
    margin-top: 12.8vw;
    line-height: 1;
    font-size: 4.267vw;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #101010;
    background-color: #fff;
}

.place {
    margin-top: 12.8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 4.8vw 3.2vw 4.4vw;
}

.place .weizhi {
    font-size: 4.8vw;
    color: #9D9E9D;
}

.place span {
    flex: 1 1 auto;
    margin: 0 8.267vw 0 2.8vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.place .jiantou {
    font-size: 4.8vw;
    color: #9D9E9D;
}

.place-ico,
.customer-info {
    background-color: #fff;
    padding-left: 11.2vw;
}

.customer-info {
    display: flex;
    align-items: center;
    height: 15.467vw;
}

.customer-info span:nth-child(1) {
    margin-right: 2.667vw;
}

.payment {
    margin: 2.667vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13.6vw;
    font-size: 3.733vw;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #101010;
    background-color: #fff;
}

.payment span:nth-child(1) {
    margin-left: 2.933vw;
}

.payment span:nth-child(2) {
    margin-right: 4.933vw;
    width: 20vw;
    color: #9D9E9D;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* main start */

.main {
    padding-bottom: 51.467vw;
}


/* express-common start */

.express-common {
    padding: 0 4.4vw 0 2.933vw;
    background-color: #fff;
    border-bottom: 0.267vw solid #F5F5F5;
}

.express-common-title {
    height: 16.267vw;
    line-height: 13.867vw;
    padding: 0 0 2.4vw;
    font-size: 3.2vw;
}

.fresh {
    float: left;
    height: 100%;
    width: 19.2vw;
}

.logistics {
    float: right;
    height: 100%;
    width: 46.8vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #0EB6FF;
}

.product-img {
    width: 25.067vw;
    height: 21.6vw;
}

.product-information {
    display: flex;
    justify-content: space-between;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-describe {
    flex: 1;
    padding: 0 3.067vw;
    line-height: 1;
}

.weight {
    display: flex;
    justify-content: space-between;
    font-size: 3.733vw;
    font-family: MicrosoftYaHei;
    color: #101010;
}

.weight span:nth-child(1) {
    font-weight: bold;
}

.product-describe .info {
    font-size: 3.2vw;
    font-family: MicrosoftYaHei;
    color: #9D9E9D;
    padding-bottom: 5.333vw;
}

.product-describe .info div:nth-child(1) {
    margin-top: 3.867vw;
}

.product-describe .info div:nth-child(2) {
    margin-top: 2.267vw;
}

.product-describe .info div:nth-child(3) {
    margin-top: 2.667vw;
}


/* footer satrt */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer .fapaio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8vw 0 2.933vw;
    height: 12.8vw;
    font-size: 3.733vw;
    font-family: MicrosoftYaHei;
    color: #9D9E9D;
    background-color: #fff;
}

.footer .fapaio span:nth-child(1) {
    flex: 1;
    color: #101010;
}

.footer .fapaio a {
    padding-right: 4.4vw;
}

.footer .fapaio i {
    font-size: 4.8vw;
}

.dingdan {
    margin-top: 2.667vw;
}

.countant {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20.8vw;
    padding-right: 3.733vw;
    font-size: 3.733vw;
    font-family: MicrosoftYaHei;
    background-color: #fff;
}

.countant i {
    margin: 0 3.867vw 0 1.333vw;
    color: #CE5F41;
}

.buy {
    width: 26.133vw;
    height: 10.667vw;
    background: #0EB6FF;
    border-radius: 5.333vw;
    text-align: center;
    line-height: 10.667vw;
    color: #fff;
}